/*servicios*/

.servicios{
    @include flex(column,center,center);
    gap: 30px;
    &__box{
        display: flex;
        gap: 30px;
        width: 90%;
        border: 1px solid black;
        transition: 0.5s;

        &:hover{
            box-shadow: 0px 0px 3px 3px $secondary-color;
            background-color: #ffd3af;
        }

        img{
            width: 250px;
            height: 250px;
            object-fit: cover
        }

        &--texto{
            @include flex(column,center,center);
            padding: 0px 15px;
            width: 100%;

            h4{
            font-weight: bold;
            }
        }
    }
}