/*servicios*/

.servicios{
    @include flex(column,center,center);
    gap: 30px;
    .uno{
        animation-name: aparecer-derecha;
        animation-iteration-count: 1;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        transform: translateX(0);
    }
    .tres{
        animation-name: aparecer-derecha;
        animation-iteration-count: 1;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        transform: translateX(0);
    }
    .dos{
        animation-name: aparecer-izquierda;
        animation-iteration-count: 1;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        transform: translateX(0);
    }
    .cuatro{
        animation-name: aparecer-izquierda;
        animation-iteration-count: 1;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        transform: translateX(0);
    }
    &__box{
        display: flex;
        gap: 30px;
        width: 90%;
        border: 1px solid black;
        transition: 0.5s;

        &:hover{
            box-shadow: 0px 0px 3px 3px $secondary-color;
            background-color: #ffd3af;
        }

        img{
            width: 250px;
            height: 250px;
            object-fit: cover
        }

        &--texto{
            @include flex(column,center,flex-start);
            padding: 0px 15px;
            width: 100%;

            h4{
            font-weight: bold;
            font-size: 2rem;
            }
        }
    }
}

@keyframes aparecer-derecha {
    0%{
        opacity: 0;
        transform: translateX(150%)
    }
    100%{
        opacity: 1;
    }
}

@keyframes aparecer-izquierda {
    0%{
        opacity: 0;
        transform: translateX(-150%)
    }
    100%{
        opacity: 1;
    }
}